<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/general::head"/>


    <title>Climb 4 you</title>
</head>


<body>
<div th:replace="fragments/menu::menu"></div>
<!--<div th:replace="fragments/categoryMenu::menu"></div>-->


<h1>Products1</h1>
<div th:replace="fragments/menu::categoryMenu"></div>

<div><h1>Climb 4 You - welcome</h1></div>


<img  src="/img/mainPage/climb4you_m1.jpg" alt=""/>






    ​​

    <th:block th:replace="fragments/general :: scripts"></th:block>
</body>

</html>

